.dialog {
    display: none;
}

.dialog .units-list {
  overflow: hidden;
}

.dialog .attacker-list {
  float: left;
  clear: left;
}

.dialog .defender-list {
  float: right;
  clear: right;
}

.dialog .