
.tile-active {
    
}

.tile-active:before {
    content: " ";
    width: 20px;
    height: 20px;
    background-color: #F00;
    position: absolute;
    left: 50%;
    top: 60%;
    margin-left: -10px;
}

.tile-active-target {
    opacity: .7 !important;
    
}

/* iteraction box */
#interaction-box {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 20%;
    min-height: 200px;
    background-color: #FCFFCD;
    z-index: 999;
    padding: 20px;
}