body {
    font-family: "Arial", sans;
    color: #333;
}

p {
    margin: 0 0 5px;
}

h3 {
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px dashed #333;
    margin: 10px 0 5px;
}


.money:after {
    content: "\a9";
    margin-left: 1px;
    color: #B68300;
}

dt {
    float: left;
    margin-bottom: 5px;
}

dt.indent {
    padding-left: 10px;
}

dd {
    margin-left: 65px;
    margin-bottom: 5px;
    font-weight: bold;
}


/* 
*  ================================
*           UNITS-VIEW 
*  ================================
*/
.unit {
    float: left;
    position: relative;
    padding: 3px 5px 4px;
}

.unit img {
    float: none;
    display: block;
    margin: 0;
}

.unit .health {
    background-color: #aaa;
}

.unit .health .bar {
    background-color: #d03;
}




/* 
*  ================================
*           MAIN-MENU 
*  ================================
*/

.menu-wrapper {
    position: fixed;
    bottom: -7px;
    z-index: 98;
    width: 100%;
}

#main-menu #menu-image{
}

#main-menu .menu-panel {
    position: absolute;
    z-index: 1;
    /*border: 1px solid #ccc;*/
}

/* LEFT-PANEL */
#main-menu #left-panel #main-menu-player span {
    font-weight: bold;
}

/* CENTER-PANEL */

#main-menu #center-panel #tile-unit-list {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#main-menu #center-panel #tile-unit-list .unit {
}

#main-menu #center-panel #tile-unit-list .unit.active {
    background-color: #D69A2A;
}

#main-menu #center-panel #tile-unit-list .unit.not-movable {
    opacity: .5;
}

#main-menu #center-panel #tile-unit-list .unit img {
    display: block;
    margin: 0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#main-menu #center-panel #tile-unit-list .unit .health {
    height: 5px;
    width: 100%;
    margin-top: 3px;
    position: relative;
    float: none;
}

#main-menu #center-panel #tile-unit-list .unit .health .bar {
   height: 100%;
    
}

/* RIGHT-PANEL */

#main-menu #right-panel input#round-next-btn {
    position: absolute;
    top: -46px;
    right: -14px;
    border: none;
    padding: 8px;
    font-weight: bold;
    background-color: #CE9428;
    color: white;
    -webkit-border-radius: 13px;
            border-radius: 13px;
    -webkit-box-shadow: -1px -1px 4px rgba(3, 1, 0, 0.4) inset;
            box-shadow: -1px -1px 4px rgba(3, 1, 0, 0.4) inset;
    text-shadow: 1px 1px 0px #AA7B22;
    outline-color: transparent !important;
}

#main-menu #right-panel input#round-next-btn:hover {
    /*text-shadow: 0 0 1px white;*/
    background-color: #d69a2a;
    
}

#main-menu #right-panel input#round-next-btn:active {
    -webkit-box-shadow: 1px 1px 4px rgba(3, 1, 0, 0.4) inset;
            box-shadow: 1px 1px 4px rgba(3, 1, 0, 0.4) inset;
    padding: 9px 7px 7px 9px;
    background-color: #c68f27;
}



#main-menu #right-panel .build-unit-btn {
    float: left;
    text-align: center;
    background-color: #efe5c2;
    padding: 6px 8px 4px;
    margin: 12px 0 0 7px;
    line-height: 13px;
    font-size: 13px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    -webkit-box-shadow: -1px -1px 4px rgba(3, 1, 0, 0.4) inset;
            box-shadow: -1px -1px 4px rgba(3, 1, 0, 0.4) inset;
}

#main-menu #right-panel .build-unit-btn:nth-of-type(1) {
    margin-left: 0;
}

#main-menu #right-panel .build-unit-btn:hover {
    cursor: pointer;
    background-color: #f4e9c6;
}

#main-menu #right-panel .build-unit-btn:active:not(.inactive) {
    padding: 7px 7px 5px 9px;
    background-color: #E5DBBC;
    /*opacity: .9;*/
    -webkit-box-shadow: 1px 1px 4px rgba(3, 1, 0, 0.4) inset;
            box-shadow: 1px 1px 4px rgba(3, 1, 0, 0.4) inset;
}


#main-menu #right-panel .unit-image {
    width: 60%;
}

#main-menu #right-panel .unit-cost {
    color: #B68300;
    margin-bottom: 0;
}

#main-menu #right-panel .build-unit-btn.inactive {
    opacity: .4;
}


/* 
*  ================================
*           TILES 
*  ================================
*/


.tile-player1:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../assets/tile_base_green.png);
    opacity: .3;
}
.tile-player2:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../assets/tile_base_blue.png);
    opacity: .3;
}


.tile-inactive {
    opacity: .8 !important;  
}
.tile-active {
    opacity: 1 !important;   
}


/*
.tile-active:before {
    content: " ";
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-image: url(../assets/tile_base_red.png);
    opacity: .3;
    z-index: 10;
}
*/
.tile-move-target:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../assets/tile_base_yellow.png);
    opacity: .3;
}



/* iteraction box */
#interaction-box {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 20%;
    min-height: 200px;
    background-color: #FCFFCD;
    z-index: 999;
    padding: 20px;
}

#interaction-box {
    -webkit-box-shadow: 3px 3px 10px rgba(0,0,0,.5);
            box-shadow: 3px 3px 10px rgba(0,0,0,.5);
    opacity: .9;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    
    font-family: "Arial", sans
    color: #333;
}




